:root {
  --color: #0d0d0d;
  --background: #f3f3f3;
  --border-color: #e0e0e0;
  --bubble-user-bg: #f3f3f3;
  --bubble-assistant-bg: #ffffff;
  --controls-bg: #ffffff;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color);
  background: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #ececec;
    --background: #171717;
    --border-color: #333;
    --bubble-user-bg: #303030;
    --bubble-assistant-bg: #212121;
    --controls-bg: #212121;
  }
}

.light {
  --color: #0d0d0d;
  --background: #f3f3f3;
  --border-color: #e0e0e0;
  --bubble-user-bg: #f3f3f3;
  --bubble-assistant-bg: #ffffff;
  --controls-bg: #ffffff;
}

.dark {
  --color: #ececec;
  --background: #171717;
  --border-color: #333;
  --bubble-user-bg: #303030;
  --bubble-assistant-bg: #212121;
  --controls-bg: #212121;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 640px;
  min-height: 100vh;
  margin: 0 auto;
  color: var(--color);
  background: var(--background);
}
